{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
    <link rel="stylesheet" href="{% static 'css/password_recovery.css' %}">
</head>
<body>
    <div class="container">
        <h2>Reset password</h2>
        <form method="post" class="recovery-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send Password Reset Link</button>
        </form>
        <a href="{% url 'account:login' %}" class="back-link">Back to Login</a>
    </div>
</body>
</html>
